* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.table {
  display: grid;
  grid-column: auto;
  justify-content: center;
}

div {
  margin-bottom: 10px;
}

h2 {
  text-decoration: underline
}