nav {
  background-color: white ;
  color: white;
 background-image: 
    url("https://www.shutterstock.com/image-vector/vector-black-background-template-illustration-260nw-1276451890.jpg"); 
}

nav h1 {color:blueviolet}